
body {
  padding: 0px;
  margin: 0px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif ;
}
/*control font */
h5 {
  font-size: 21px;
}

h2{
  
  color: #5bb5df;
 
}
h4 {
  font-weight:normal;
  padding-bottom: 22px;
}
/*control first header size, color, margin */
header h1 {
  color: #fff;
  font-size: 50px;
  margin-top: 0px;
 
}
/*control header */

header {
  background-color: #f38e59;
  text-align: center;
  margin-top: 0px;
  height: 250px;
  padding-bottom: 56PX;
}


/* ******************************** */


/*control first nav size , color */
nav{
background-color:#f38e59;
display: flex;
justify-content: space-around;
padding-top: 4px;
position:fixed;
padding-left: 74px;
padding-right: 160PX;

}
/*control ul inside first nav */
nav ul{
  text-decoration: none;
  display: flex;
  list-style-type: none;
  margin-right: 10px;
  padding: 0px;
  
}
/*control nav hover */
nav a:hover{
background-color: rgba(255, 255, 255, 0.548); /* Green */


}

/*control list inside first nav */
nav li{
  text-decoration: none;
  margin-left: 40px;
}
/*control logo size */

.img{
  width: 140px;
  height: 48px;
  margin-top: 3px;
  margin-left: 34px;
  margin-right: 22px;
  
}
/*control tag a inside liste */

li a {
  display: block;
  text-decoration: none;
  color: aliceblue;
}
/*control button 14 DAY FREE TRIAL */

.button1 {
  background-color: #f38e59; 
  color: #fff; 
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 14px 41px;
  margin: 5px;
  padding-left: 26px;
  padding-right: 26px;
  
}
/*control hover button 14 DAY FREE TRIAL */

.button1:hover {
  background-color: rgba(255, 255, 255, 0.548); /* Green */
  cursor: pointer; 
 
}
/*control button LOGIN */
.button2 {
  background-color: #02202f ;  
  color: #fff;  
  border: none;
  border-radius: 5px;
  padding: 14px 41px;
  margin: 5px;
  padding-left: 19px;
  padding-right: 23px;
  margin-left: 32px;
  margin-right: 14px;

}
/*control hover button LOGIN */
.button2:hover {
  background-color: rgb(4, 65, 96); 
  cursor: pointer; 
}
/*control contact us */

.contact {

   display: inline-block;
   margin-top: 128px;

}


/* ******************************** */


/*control div for iteam3, iteam1 "REACH OUT TO US!
" "LANDER TEAM"  */

.grid-container {
  margin-top: 45px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

/*control form */

.rows {
  display: flex;
  display: grid;
  padding-bottom: 9px;
  padding-top: 9px;
  border-radius: 4px;
  border-color: rgb(153, 153, 153);
  margin-bottom: 20PX;
  width: 465px;

}

input[type=text], select, textarea {
  width: 100%;
    
  border: 1px solid #ccc;
    border-radius: 4px;
  resize: vertical;
  }
 /*control iteam1 "LANDER TEAM" */

.item1 a { grid-area: 2 / 3 / 1 / 4;
  color: #f38e59;
  text-decoration: none;
  font-weight: 500;}
.item1 { grid-area: 2 / 3 / 1 / 4;
  padding-right: 60PX;
  padding-right: 80PX; 
  text-decoration: none;}
  /*control iteam3 "REACH OUT TO US!" */
.item3 { grid-area: 1 / 3 / 1 / 2;;
  padding-right: 80PX;
  margin-left: 80px; }

.item3  P {
  font-size: 13PX;
  padding-bottom: 48px;
}
.item1  P {
  font-size: 13PX;
  padding-bottom: 48px;
}

  /*control BUTTON "SUBMIT" */

.SUBMIT {
  display: flex;
  background-color: #f38e59 ;  
  display: flex;
  flex-flow: column wrap;
    color: #fff;  
  border: none;
  border-radius: 5px;
  padding: 14px 41px;
  margin-top: 7px;
  margin-right: 75px;
  margin: 1.7em 0;
  margin-left: 343px;

}
.SUBMIT:hover {
  background-color:#f49c6c98; /* Green */
  cursor: pointer; 
}
  /*control Message BOX "Message" */

#Message {
  padding-bottom: 77px;

  
}

  /*control BIG ICON  */

i {
  float: left;
}

#facebook_icon {
  color: #f38e59;
  font-size: 67px;
  float: left;
  padding-right: 6px;
}
#linkedin_icon {
  color: #fff;
  font-size: 50px;
  margin-right: 10px;
  background-color: #f38e59;
  border-radius: 50%;
  text-align: center;
  padding: 14px;
  
}
#twitter_icon {
  color: #fff;
  font-size: 50px;
  margin-right: 10px;
  background-color: #f38e59;
  border-radius: 50%;
  padding: 10px;
  
}

/* ******************************** */


  /*control BIG FOOTER  */

.pre-footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #404040;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

  /*control small fotter */

.footer {
  display: grid;
  grid-template-columns: auto ;
  grid-gap: 10px;
  background-color: #333333;
  padding-left: 65px;
  padding-right: 40px;
  color: #ccc;
 
}

.pre-footer li {
  display: block;
  text-decoration: none;
  color: rgb(236, 136, 22);

}

  /*control button in big footer "CREATE YOUR LANDING PAGE" */

.button_footer {
  background-color: #02202f ;  
  color: #fff;  
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  width: 173px;
  height: 57px;
}

.button_footer:hover {
  background-color: rgb(4, 65, 96); 
  cursor: pointer; 
}
  /*control font in big footer */

.pre-footer a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 20PX;
}
.pre-footer a:hover {
  color: #f38e59;
 
}
.pre-footer B {
  color: #fff;
  font-size: 16px;
}

.footer a {
  text-decoration: none;
  color: #f38e59;
}

.size_font P {
  color: #fff;
  font-size: 16px;
}
  /*control small icon social media */

.list_icons i{
  color: #f39b6b;
  margin: 5px;
  font-size: 20px;
}


/* ******************************** */
